:root{
  --main-background-color:#fff;
  --main-text-color:#212121;
  --paragraph-color:#757575;
  --contacts-color:#757575;
  --hover-hover-button-color:#fff;
  --team-backgound:#f5f4fa;
  --hover-color:#2196f3;
  --titel-color:#212121;
  --link-color:#212121;
  --logo-color:#2196f3;
  --logo-link-color:#000;
  --header-navigation-color:#212121;
  --footer-link-color:#fff;
  --footer-contacts-color:rgba(255,255,255,0.6);
  --footer-background-color:#2F303A;
  --city-color:#fff;
  --slogan-color:#fff;
  --solution-background-color:#2F303A;
  --hero-button-color:#2196f3;
  --hero-button-text-color:#fff;
  --market-color:#212121;
  --header-link-active:#2196f3;
  --team-list-background-color:#FFF;
}
body {
  margin: 0;

  font-family: 'Roboto', Raleway, sans-serif;
  background-color:var(--main-background-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  color:var(--main-text-color);
}
li {
  list-style-type: none;
}
.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section{
padding-top: 94px;
padding-bottom: 94px;
}
/******************************LOGO_____NAV_____CONTACTS_____FOOTER****************************/
.header{
  border-bottom: 1px solid #ececec;
}
.main-nav {
  display: flex;
}
.main-nav-list{
  display: flex;
  align-items: center;
}
.logo {
  color:var(--logo-color);
}
.link-logo:active,
.link-logo:hover,
.link-logo {
  display: block;

  font-family: 'Raleway';
  font-size:26px;
  line-height:1.19;
  font-weight:700;
  color:var(--logo-link-color);
  text-decoration: none;
}
.site-nav {
  display: flex;
  padding-left: 0;
  margin: 0;
}
.site-nav__item:first-child{
  margin-left:93px;
}
.site-nav__item:not(:last-child){
  margin-right: 50px;
}
.auth-nav {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding-left: 0;
}

.auth-nav__item+.auth-nav__.item {
  margin-left: 50px
}
.header-list-contacts{
color: #000;
}
.header-link-now:active,
.header-link-now:visited,
.header-link-now {
  position: relative;

  display:block;
  padding-left: 0;
  padding-top: 32px;
  padding-bottom: 32px;

  color:var(--header-link-active);
  line-height: 1.14;
  font-weight: 500;
  text-decoration:none;
  letter-spacing: 0.02em;
}
.header-link-now::after{
  content: '';

  position: absolute;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--header-link-active);
}
.header-navigation-link:active,
.header-navigation-link:visited,
.header-navigation-link {
  display: block;
  padding: 32px 0;


  color:var(--header-navigation-color);
  line-height: 1.14;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation-link:focus,
.header-navigation-link:hover {
  color:var(--hover-color);
}


.header-contscts:active,
.header-contscts:visited,
.header-contacts {
  display: flex;
  padding: 32px 0;
  justify-content: center;
  align-items: center;

  line-height: 1.14;
  font-weight: 500;
  font-style: normal;
  color:var(--contacts-color);
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.header-contacts:hover {
  color:var(--hover-color);
  fill: currentColor;
}
.auth-ico{
  margin-right: 10px;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

.footer-link-logo:active,
.footer-link-logo:hover,
.footer-link-logo {
  display: block;
  margin-bottom: 20px;

  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  color: var(--footer-link-color);
  text-decoration: none;
}
.footer-address-list{
  padding:  0;
  margin: 0;
}
.footer-address-list .item:not(:last-child){
  margin-bottom: 9px;
}
.footer-contscts:active,
.footer-contscts:visited,
.footer-contacts {
  line-height: 1.14;
  font-style: normal;
  color:var(--footer-contacts-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts:hover {
  color:var(--hover-color);
}
.footer-city {
  line-height: 1.71;
  font-style: normal  ;
  color: var(--city-color);
}
.foot-soc-list{
  display: flex;
  padding-left: 0;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.foot-soc-list .item+.item{
  margin-left: 10px;
}
.foot-soc{
  width: 44px;
  height: 44px;
  background-color: rgba(255,255,255,0.1);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  fill: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-soc:hover{
  background-color: #2196f3;
}
.join{
  margin-left: 70px;
}
.join-title{
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  color: #fff;
}
.auth-nav .item{
  display: block;
  justify-content: center;
  align-items: center;
}
.phone,
.mail{
  margin-right: 10px;
}
.mailing{
  margin-left: auto;
}
.footer-form-title{
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 20px 0;
  color: #fff;
  text-transform: uppercase;
}
.footer-form-button{
  justify-content: center;
  color: #fff;
  background-color: #2196f3;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  border: 0;
  border-radius: 4px;
  padding:10px 55px 10px 55px;
}
.button-img{
  margin-left: 10px;
}

.footer-email{
  outline: none;
  
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2F303A;
  border-radius: 4px;
  width: 90%;
  height: 100%;
  line-height:1.25 ;
  color: #fff;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0;
  padding-bottom: 0;
}
.footer-form-field{
  width: 358px;
  height: 50px;
}
.footer-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px; 
  padding: 0;
  border: 0;
  background-color: #2196f3;
  border-radius: 4px;
  color: #fff;
  line-height:1.875;
  font-weight: 700; 
  font-size: 16px;
  padding:10px 28px 10px 29px;
}
.footer-button-img{
  margin-left:10px ;
}
.footer-form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .container{
  display: flex;
  justify-content: center;
  align-items: center;
}
/********************************************INDEX******************************************/
.hero{
  padding-top:200px ;
  padding-bottom: 200px;
  background-color: var(--solution-background-color);
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}
.hero-title {
  text-align: center;
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 40px;

  text-transform: uppercase;
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  color:var(--slogan-color);
  letter-spacing: 0.06em;
}
.hero-button { 
  text-align: center;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px 10px 32px;

  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;
  background-color:var(--hero-button-color);
  color:var(--hero-button-text-color);
  cursor: pointer;
  letter-spacing: 0.06em;
}
.backdrop{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background-color:rgba(0,0,0,0.2);
  z-index: 9999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;  
}

.modal-close{
  position: absolute;
  top: 8px;
  right: 8px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.1);
  cursor: pointer;
}


.form__img{
  
}

.comment-field textarea{
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.form-button{
  color:#fff;
  background-color: #2196f3;
  padding: 10px 55px 10px 56px;
  border: 0;
  border-radius: 4px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
}
.label-checkbox{
  justify-content: center;
  display: flex;
  align-items: center;
}
.check-input{
  appearance: none;
  margin: 0;
}
.icon{
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #000;
  border-radius:4px;
  margin-right: 10px;
}

.checkbox-title{
  color: #757575;
  margin-right: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}
.checkbox-link{
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
}
.check-input:checked + .icon{
  background-color: #2196f3;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
  background-position: center;
  border-color: #2196f3;
}
.info-img-list .item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  box-sizing: border-box;
  text-align: center;
  width: 528px;
  height: 581;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  padding: 40px;
}
.form__title {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 12px;
}
.form__field {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form__label{
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 4px;
  line-height:1.16 ;
}
.form__input {
  box-sizing: border-box;
  display: block;
  outline: none;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  margin: 0;
  padding: 11px 0 11px 40px;
}
.form__input:focus {
  border-color: #2196f3;
}
.form__input:focus+.form__img {
  fill: #2196f3;
}
.form__img {
  position: absolute;
  top: 28px;
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info {
  padding-top: 94px;
}
.info__list {
  display: flex;
  margin: 0;
  padding-left: 0;
}
.info__item {
  max-width: 270px;
}
.info__item:not(:first-child){
  margin-left: 30px;
}
.card-picture {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.info__point {
  margin: 0 0 10px 0;

  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.14;
  font-weight: 700;
}
.info__description {
  margin: 0;
  line-height: 1.71;
  color: var(--paragraph-color);
}
.studio__title {
  text-align: center;
  margin: 0;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  font-weight: 700;
}
.studio__list {
  margin: 0;
  display: flex;
  padding-left: 0%;
  justify-content: space-between;
}
.job-card {
  position: relative;
}
.job-card__image {
  display: block;
  width: 100%;
  height: auto;
}
.job-card__overlay {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  background-color: rgba(48, 48, 58, 0.8);
}
.job-card__title {
  font-weight: 700;
  font-size: 14px;
  padding-top: 27px;
  margin: 0;
  padding-top: 0;

  color: #fff;
}
.team{
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--team-backgound);
}
.team__title{
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
  
  font-size: 36px;
  line-height:1.16;
  font-weight: 700;
}
.team__list{
  margin: 0;

  display: flex;
  padding-left: 0;
}
.team__item{
  background-color:#fff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:first-child){
  margin-left: 30px;
}
.team__image {
  display: block;
  width: 100%;
  height: auto;
}
.team__name {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team__position {
  margin: 0;
  padding-bottom: 30px;
  text-align: center;

  font-size: 16px;
  line-height: 1.9;
  color: var(--paragraph-color);
}
.soc-list{
  box-shadow: 0;
  display: flex;
  padding-left: 0;
  justify-content: center;
  margin-bottom: 30px;
}
.soc-list__link {
  height: 44px;
  width: 44px;
  background-color: #FFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-list__link:hover {
  fill: #fff;
  background-color: #2196f3;
}
.soc-list__item:not(:first-child){
  margin-left: 10px;
}
.clients{
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-title{
  margin: 0;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: center;
}
.clients-list{
  display: flex;
  margin: 0 auto;
  padding-left: 0;
}
.clients-list__item{
  background-color: #fff;
}
.clients-list__item:not(:first-child){
  margin-left: 30px;
}
.clients-list__link{
  width: 170px;
  height: 94px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  border: 1px solid #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__logo{
  fill:#afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover{
  border-color:#2196f3;
}
.clients-list__link:hover .clients-list__logo{
  fill:#2196f3;
}
/******************************************PORTFOLIO************************************/
.filter{
  display: flex;
  margin:0 ;
  padding-left: 0;
  margin-bottom: 50px;
  justify-content: center;
}
.filter__item{
  margin-left:8px ;
}
.filter__button {
  padding: 6px 22px 6px 22px;

  cursor: pointer;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  border-radius: 4px;
  border: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover,
.filter__button:focus {
  background-color:var(--hover-color);
  color:var(--hover-hover-button-color);
  
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
  
}
.projects{
  margin:0;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.projects__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.projects__item{
  margin-bottom: 30px;
  border-bottom: 1px solid #EEEEEE;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  
}
.market :active,
.market :visited,
.market {
  display: block;
  width: 100%;
  height: 100%;
  color: var(--market-color);
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.market:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translateX(0);
}
.market__image{
  width: 100%;
  height: auto;
}
.market__list {
  padding: 20px 24px 20px 24px
}
.market__title{
  margin:0 0 4px 0;

  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
}
.market__description{
  margin: 0;
  
  color: var(--paragraph-color);
  font-size: 16px;
  line-height: 1.9;
}
.card {
  position: relative;
  width: 100%;
  height: 294px;
  overflow: hidden;
}
.card__overlay {
  position: absolute;
  top: 1px;
  left: 0;
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.market:hover .card__overlay {
  transform: translatey(0);
}
.card__title {
  font-size: 18px;
  line-height: 1.55;
  margin: 0;
  padding: 63px 24px 63px 24px;
  color: #FFF;
}
/*****************************HIDE********************************/
.visually-hiden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip:rect(0 0 0 0);
  overflow: hidden;
}
/************************************************************************/